.container-nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brand {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
    margin-right: 10px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos para el contenido principal */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  h1 {
    color: #333;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
  }
  
  /* Estilos para el video */
  .video-container {
    margin-top: 20px;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  footer p {
    margin: 0;
  }
  
  footer button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  footer button:hover {
    background-color: #eee;
  }
  
  /* Estilos para la navegación desplegable */
  .nav-links.show {
    display: block;
  }
  
  /* Estilos para la sección de servicios */
  .services {
    text-align: center;
  }
  
  .services h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .service {
    margin-bottom: 40px;
  }
  
  .service img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .service h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .service p {
    color: #666;
    font-size: 14px;
    line-height: 1.5;
  }
  .service {
    text-align: center;
    margin: 20px;
    width: 30%;
    display: inline-block;
 }
  